#root {
  text-align: center;
}

.nav-link:hover {
  background-color: darkgreen;
  border-radius: 5px; /* Adjust the value as needed */

} 

.card {
  padding: 2em;
}

header {
  width: 100%
}

.tours {
  display: flex;
}

.card {
  border: 1px solid grey;
  margin-top: 2em 
}


